.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Full viewport height */
}

/* Header styles */
.header {
    width: 100%;
    background-color: #ebebeb;
    border-bottom: 1px solid #e5e7eb;
}

.headerContent {
    padding: 1rem 2rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

.headerLogo {
    height: 40px;              /* Set appropriate size for the logo */
    margin-right: 15px;        /* Space between logo and text */
  }

.headerContent h1 {
    /* font-family: "Major Mono Display", monospace; */
    font-family: "Share Tech Mono", monospace;
    margin: 0;
    font-size: 1.8rem;
    color: #297496;
    color: #ec4476;
    color: #e5989b;
    /* color: #f07167;
    color: #fe6d73;
    color: #59c3c3;
    color: #067bc2; */
}

/* Main area styles */
.mainArea {
    display: flex;
    flex: 1;
    /* Takes up remaining space */
}

/* Content wrapper styles */
.contentWrapper {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    background-color: #ffffff;
    padding: 0;
}

.contentWrapper>div {
    /* This targets the ContentDisplay component */
    width: 90%;
    /* Takes only 60% of the available space */
    padding-top: 0px;
    padding-left: 40px;
}

/* Footer styles */
.footer {
    width: 100%;
    background-color: #f8f9fa;
    border-top: 1px solid #e5e7eb;
}

.footerContent {
    padding: 1rem 2rem;
    font-size: 12px;
    text-align: left;
    color: #8e9aaf;
}